
{% if error_message %} 
<p class ="alert alert-danger"> 
    <strong>{{ error_message }}</strong> 
</p> 
{% endif %} 




<h1>Prego, scegli chi votare</h1>

<h5>Ricorda che puoi entrare ed uscire tutte le volte che vuoi, ma potrai votare solo una volta e non potrai modificare il tuo voto, quindi stai attento</h5>
                <p  style="color:red;">{{orario_voto}}</p>

<form method ="post">
    {% csrf_token %} 
    {% for choice in candidati %}
    <div class ="form-check">
          <div class="vote" style="display: flex; align-items: center;">

        <input type ="radio" name ="choice" class ="form-check-input" value ="{{ choice.pk }}"/>
                <p>{{choice}}</p>
    </div>
        </div>
    {% endfor %} 
    <input type ="submit" value ="Vote" class ="btn btn-success btn-lg btn-block mt-4" /> 
</form>